<h1>Home Page</h1>
<p>There's No Place Like Home! 
There's also No Place Like <a href="http://landofozandends.com/">The Land of Oz and Ends!</a>	
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>

